{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<div class="main-content">
  {{ if .Site.Data.config.resumeEnabled }}
  <div class="g-recaptcha" data-sitekey="{{.Site.Data.config.recapchaSiteKey}}" data-callback="onSubmit"
    data-size="invisible">
  </div>
  {{ end }}
  {{ if .Site.Data.skills }}
  {{ if .Site.Data.skills.enabled }}
  {{ partial "skills.html" . }}
  {{ end }}
  {{ end }}
  {{ if .Site.Data.educations }}
  {{ if .Site.Data.educations.enabled }}
  {{ partial "educations.html" . }}
  {{ end }}
  {{ end }}
  {{ if .Site.Data.experience }}
  {{ if .Site.Data.experience.enabled }}
  {{ partial "experience.html" . }}
  {{ end }}
  {{ end }}
  {{ if .Site.Data.services }}
  {{ if .Site.Data.services.enabled }}
  {{ partial "services.html" . }}
  {{ end }}
  {{ end }}
</div>

<div style="z-index: 4; position: relative;">
  {{ if gt (len (where .Data.Pages "Type" "blog")) 0 }}{{ partial "blog.html" . }}{{ end }}
  {{ if gt (len (where .Data.Pages "Type" "work")) 0 }}{{ partial "work.html" . }}{{ end }}
</div>

{{ if .Site.Data.config.contactEnabled }}
<div class="main-content">
  {{ partial "contact.html" . }}
</div>
{{ end }}

{{ partial "footer-scripts.html" . }}